/* Стили для ineax.html */

:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-two: #ffffff;
  --primary-background-color: #ffffff;
  --title-text-color: #212121;
  --section-team-color: #f5f4fa;
  --footer-color: #2f303a;
  --button-text-color: #ffffff;
  --button-background-color: #2196f3;
  --button-background-active-color: #188ce8;
  --icon-color: #afb1b8;
  --icon-color-two: #ffffff;
}

/* --primary-text-color: #757575;      первинний-тектовий-колір(основной цвет текста)  
 --accent-color: #2196F3;               акцент-цвет (додатковий колір на я кому робимо акцент)                 
 --accent-color-two: #FFFFFF;           акцент-цвет (додатковий другій колір)
 --primary-background-color: #FFFFFF;   первинний фоновий колір
 --title-text-color: #212121;           заголовок техта колір
 --section-team-color: #F5F4FA;         секції команда колір
 --footer-color: #2F303A;               футера цвет
 --button-text-color: #ffffff;          цвет текста кнопки
 --button-background-color: #2196F3;    цвет фона кнопки*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Глобальний border-box Стандартна блокова модель в сучасних проектах - це border-box.
 Для того щоб не ставити властивість box-sizing кожному елементу окремо,
на самому початку файлу стилів використовується наступний CSS-код. */

/* body */

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  /* overflow: hidden; блоктрует скрол (прокрутку сайта) при открытом модальном окне */
}

.body,
a {
  text-decoration: none;
}
/* Отменяем подчеркивание у ссылки */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
/* скидаемо в нуль для зручної работи */

img {
  display: block;
  min-width: 100%;
  height: auto;
}
/* допомогае коректно відображати сайт при зменшенні екрану */

/* УТІЛІТИ !!! */

header {
  border-bottom: 1px solid #ececec;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Этот селектор .list выключает точки в тех списках ul в класс которых мы его вставляем!  а можно выключить 
все точки на всем сайте написавши
ul {list-style: none;} */

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px 0 15px;

  /* border: 1px solid tomato; */
}

/* header */
/* nav */

.container-header {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--title-text-color);
}

/* site-nav */

.item {
  position: relative;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
/* --------------------------------- */
/* .current  */

.site-nav .current.link::after {
  content: '';
  display: block;
  width: calc(100% - 40px);
  height: 4px;
  /* margin-top: 32px; */
  background-color: var(--button-background-color);
  position: absolute;
  bottom: -32px;
  border-radius: 2px;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  opacity: 1;
  
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .item:not(:last-child) {
  padding-right: 40px;
}

.site-nav .link .current {
  color: var(--accent-color);
}

/* connecrion */

.connection {
  display: flex;
  /* margin-left: 318px; */
}

.connection .item:not(:last-child) {
  padding-right: 30px;
}

.link {
  transition: color 250ms;
}

.link-icon {
  fill: var(--primary-text-color);
}

.link:hover .link-icon {
  fill: var(--accent-color);
  
}

/* .net-icon:hover {
    fill: white;
}
.soc-link:hover {
    background-color: #2196F3;
}
.soc-link:hover .net-icon {
    fill: white;
}
.net-icon {
    fill: var(--icon-color);
} */

/* А можно і так зробити теж буде працювати 

} .connection .item + .item  {
    margin-right: 50px;*/

.link-icon {
  margin-right: 10px;

  transition: fill 250ms;
}

.connection .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: fill 250ms;
}

.connection .link:hover,
.connection .link:focus {
  fill: var(--accent-color);
  
}

.link:focus .link-icon {
  fill: var(--accent-color);
  
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* main */

/* section-hero */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  color: var(--accent-color-two);
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;

  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
    url('../images/header-img.jpg');
  background-position: center;
  background-size: cover;
}

.section-hero-title {
  width: 696px;
  height: 120px;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;

  color: var(--button-text-color);
  background-color: var(--button-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  border-radius: 4px;

  cursor: pointer;

  transition: background-color 250ms;
}

.button:hover,
.button:active {
  background-color: var(--button-background-active-color);
   
}

.button:focus {
  background-color: var(--button-background-active-color);
  
}

/* ----------------------------------------------------------- */
/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms; /*делаем замедление окрытия и закрытия окна 250ms*/
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  max-height: 581px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: auto;
}

.close-icon {
  position: absolute;
  left: 490px;
  top: 8px;
  fill: #fff;
  cursor: pointer;
}

/* ------------------------------------------------------------------- */

/* <!--Наші переваги--> */ /* feature */

.feature .visually-hidden {
  /* < !--Спрятали заголовок ! ! ! --> */
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Вариант как можно сделать картинки еще через ::before
    .container-list::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}
.icon-antena::before {
    background-image: url(../images/group-1.svg);
}
.icon-clock::before {
    background-image: url(../images/group-2.svg);
}
.icon-nout::before {
        background-image: url(../images/group-3.svg);
}
.icon-kosm::before {
        background-image: url(../images/group-4.svg);
} */
/* UL */
.feature-list {
  display: flex;
}
/* LI */
.container-list {
  height: 120px;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.container-list:last-child {
  margin-right: 0;
}

/* DIV */
.img-group-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--section-team-color);
  border-radius: 4px;
}
/* SVG */
.svg-group {
  background: var(--section-team-color);
  border-radius: 4px;
}

.feature-list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.feature-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* --------------------------------------------------------------------- */

/* < !--Чим ми займаємося--> */

.container-work {
  display: flex;
  flex-direction: column;
}

.section-title-work {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  color: var(--title-text-color);
}

.work-list {
  display: flex;
  text-transform: uppercase;
}
.work-img {
  position: relative;
  height: 294px;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.work-img:last-child {
  margin-right: 0;
}
.img-img {
  height: 100%;
  width: 100%;
}

.title-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 224px;
  height: 70px;
  width: 100%;
  padding: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  
  letter-spacing: 0.03em;
  text-transform: uppercase;
  z-index: 1;
  color: var(--button-text-color);
  background: rgba(47, 48, 58, 0.8);
}

/* --------------------------------------------------------- */

/* < !--Наша команда--> */

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-team-color);
}

.container-team {
  display: flex;
  flex-direction: column;
}

.section-title-team {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.17;
  margin-bottom: 50px;
  color: var(--title-text-color);
}

.team {
  display: flex;
  gap: 30px;
}

.team-div {
  padding: 30px 30px 0px 30px;
}

.team-img {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-name {
  display: flex;
  justify-content: center;

  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-name-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0px 32px 30px 32px;
}

.soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;

  transition: fill 250ms;
  transition: background-color 250ms;
}

.net-icon:hover {
  fill: white;
  
}

.soc-link:hover,
.soc-link:focus {
  background-color: #2196f3;
  
}

.soc-link:hover .net-icon {
  fill: white;
   
}

.soc-link:focus .net-icon {
  fill: white;
  
}

.net-icon {
  fill: var(--icon-color);
  transition: fill 250ms;
}

/* ---------------------------------------------------------------- */

/* Постійні клієнти! */

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-background-color);
}

.container-clients .section-title-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-text-color);
}
/* UL */
.clients-list {
  display: flex;
  justify-content: space-between;
}
/* LI */
.clients-item {
  height: 92px;
  width: calc((100% - 150px) / 6);
  transition: fill 250ms, border 250ms;
}
/* A */
.clients-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms;
}
/* SVG */
.clients-icon {
  fill: var(--icon-color);
  transition: fill 250ms;
}

.clients-button:hover .clients-icon,
.clients-button:focus .clients-icon {
  fill: var(--accent-color);
   
}

.clients-item:hover .clients-button,
.clients-item:focus .clients-button {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  
}

/* 
.clients-button:hover .clients-icon,
.clients-button:active {
    fill: var(--accent-color);
    cursor: pointer;
}

.clients-button:focus .clients-icon {
    fill: var(--accent-color);
    cursor: pointer;
}

.clients-item:hover .clients-button,
.clients-item:active {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.clients-item:focus .clients-icon {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}  */

/* ---------------------------------------------------------------------------------------------------------- */

/* < !--Футер--> */

.footer {
  padding: 60px 0;
  background-color: var(--footer-color);
}

.footer-container-all {
  display: flex;
  align-items: baseline;
}

.info-footer {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  padding-top: 0;
  width: 145px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer .logo-web {
  color: var(--accent-color);
}

.footer .logo-studio {
  color: var(--accent-color-two);
}

.footer .map-link {
  color: var(--accent-color-two);
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
}

.address-all li:not(:last-child) {
  margin-bottom: 9px;
}

.map-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms;
}

.address .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  
}

.map-link:hover,
.map-link:focus {
  color: var(--accent-color);
  
}

/* ----------------------------------------------------------- */

/* Футер блок социал */

.foter-title-social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0px 32px 30px 0px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: fill 250ms;
  transition: background-color 250ms;
}

.footer-net-icon:hover,
.footer-net-icon:focus {
  fill: white;
  
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196f3;
  
}

.footer-soc-link:hover .net-icon,
.footer-soc-link:focus {
  fill: white;
  
}

.footer-net-icon {
  fill: var(--icon-color-two);
  transition: fill 250ms;
}

/* ------------------------------------------------------------------------------------------------------------- */

/* Стили для portfolio.html */

/* ----------------------------------------------------------------------------------------------------------------- */

/* < !--Спрятали заголовок ! ! ! --> */
.visually-hidden-portfolio {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

  gap: 8px;
}

.button1 {
  padding: 6px 25px;
}

.button2 {
  padding: 6px 22px;
}

.button3 {
  padding: 6px 22px;
}

.button4 {
  padding: 6px 22px;
}

.button5 {
  padding: 6px 22px;
}

.button-portfolio {
  font-family: inherit;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: color 250ms, background-color 250ms, box-shadow 250ms;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  
}

/* --------------------------------------------------------- */

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ще є третій варіант метод calc так и сделал */
/* calc((100% - сумма маржинов в строке(или кол-во маржинов в строке помноженое на значение маржина в px)) / на количество елементов в строке*/
.filter-card {
  /* width: 370px; */
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--accent-color-two);

  transition: box-shadow 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-card:nth-child(3n) {
  margin-right: 0;
}

.filter-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* а можно ще так зробити теж саме дати марджин-30 всім кроме 3го*/

/* .filter-card:not(:nth-child(3n)) {
    margin-right: 30px;
}  */

/* а можно ще так зробити знижніми трьома */

/* .filter-card:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
} */

.link-portfolio 

.link-img {
  display: block;
  position: relative;
  overflow: hidden;
  
}

.filter-card:hover .filter-description,
.filter-card:focus {
  transform: translateY(0);
}

.filter-card:hover,
.filter-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  
}

.filter-card-div {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.section-title-portfolio {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-title-portfolio-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.filter-description {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px 173px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--accent-color-two);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: 250ms;
}

/* продолжаем */
/* на проверку  ДЗ№ 5 */
